<div>
    <h2 id="page-heading">
        <span>Assistance Techniques</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-assistance-technique" [routerLink]="['/assistance-technique/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Assistance Technique
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="assistanceTechniques?.length === 0">
        <span>No assistanceTechniques found</span>
    </div>
    <div class="table-responsive" *ngIf="assistanceTechniques?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Date Reception</span></th>
            <th><span>Date Cloture</span></th>
            <th><span>Date Reponse</span></th>
            <th><span>Action</span></th>
            <th><span>Ao</span></th>
            <th><span>Code Profil</span></th>
            <th><span>Tjm</span></th>
            <th><span>Date Demarrage</span></th>
            <th><span>Statut</span></th>
            <th><span>Client</span></th>
            <th><span>Utilisateur</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let assistanceTechnique of assistanceTechniques ;trackBy: trackId">
                <td><a [routerLink]="['/assistance-technique', assistanceTechnique.id, 'view' ]">{{assistanceTechnique.id}}</a></td>
                <td>{{assistanceTechnique.description}}</td>
                <td>{{assistanceTechnique.dateReception | date:'mediumDate'}}</td>
                <td>{{assistanceTechnique.dateCloture | date:'mediumDate'}}</td>
                <td>{{assistanceTechnique.dateReponse | date:'mediumDate'}}</td>
                <td>{{assistanceTechnique.action}}</td>
                <td>{{assistanceTechnique.ao}}</td>
                <td>{{assistanceTechnique.codeProfil}}</td>
                <td>{{assistanceTechnique.tjm}}</td>
                <td>{{assistanceTechnique.dateDemarrage | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="assistanceTechnique.statut">
                        <a [routerLink]="['/statut', assistanceTechnique.statut?.id, 'view' ]" >{{assistanceTechnique.statut?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="assistanceTechnique.client">
                        <a [routerLink]="['/client', assistanceTechnique.client?.id, 'view' ]" >{{assistanceTechnique.client?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="assistanceTechnique.utilisateur">
                        <a [routerLink]="['/utilisateur', assistanceTechnique.utilisateur?.id, 'view' ]" >{{assistanceTechnique.utilisateur?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/assistance-technique', assistanceTechnique.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/assistance-technique', assistanceTechnique.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/assistance-technique', { outlets: { popup: assistanceTechnique.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
