<div>
    <h2 id="page-heading">
        <span>Disponibilites</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-disponibilite" [routerLink]="['/disponibilite/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Disponibilite
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="disponibilites?.length === 0">
        <span>No disponibilites found</span>
    </div>
    <div class="table-responsive" *ngIf="disponibilites?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nom</span></th>
            <th><span>Prenom</span></th>
            <th><span>Date</span></th>
            <th><span>Competence</span></th>
            <th><span>Logement</span></th>
            <th><span>Occupation</span></th>
            <th><span>Affaire En Vue</span></th>
            <th><span>Ic Domicile</span></th>
            <th><span>Agence</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let disponibilite of disponibilites ;trackBy: trackId">
                <td><a [routerLink]="['/disponibilite', disponibilite.id, 'view' ]">{{disponibilite.id}}</a></td>
                <td>{{disponibilite.nom}}</td>
                <td>{{disponibilite.prenom}}</td>
                <td>{{disponibilite.date | date:'mediumDate'}}</td>
                <td>{{disponibilite.competence}}</td>
                <td>{{disponibilite.logement}}</td>
                <td>{{disponibilite.occupation}}</td>
                <td>{{disponibilite.affaireEnVue}}</td>
                <td>{{disponibilite.icDomicile}}</td>
                <td>
                    <div *ngIf="disponibilite.agence">
                        <a [routerLink]="['/agence', disponibilite.agence?.id, 'view' ]" >{{disponibilite.agence?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/disponibilite', disponibilite.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/disponibilite', disponibilite.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/disponibilite', { outlets: { popup: disponibilite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
