<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="disponibilite">
            <h2><span>Disponibilite</span> {{disponibilite.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{disponibilite.nom}}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{disponibilite.prenom}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{disponibilite.date}}</span>
                </dd>
                <dt><span>Competence</span></dt>
                <dd>
                    <span>{{disponibilite.competence}}</span>
                </dd>
                <dt><span>Logement</span></dt>
                <dd>
                    <span>{{disponibilite.logement}}</span>
                </dd>
                <dt><span>Occupation</span></dt>
                <dd>
                    <span>{{disponibilite.occupation}}</span>
                </dd>
                <dt><span>Affaire En Vue</span></dt>
                <dd>
                    <span>{{disponibilite.affaireEnVue}}</span>
                </dd>
                <dt><span>Ic Domicile</span></dt>
                <dd>
                    <span>{{disponibilite.icDomicile}}</span>
                </dd>
                <dt><span>Agence</span></dt>
                <dd>
                    <div *ngIf="disponibilite.agence">
                        <a [routerLink]="['/agence', disponibilite.agence?.id, 'view']">{{disponibilite.agence?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/disponibilite', disponibilite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
